API_ID=12345678
API_HASH=abcdef1234567890abcdef1234567890
SESSION_STRING=BQAAAAUAAAAYlO0...very_long_string...x7d9f
HANDLER=.saveit
AUTO_SAVE_TIMED=true
AUTO_DELETE_ENABLED=true
AUTO_DELETE_HOURS=4
